* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: dimgray;
  text-align: center;
  color: antiquewhite;
  margin: 0 auto;
}

#container {
  max-width: 1400px;
  margin: 0 auto;
}

canvas {
  border: 2px dotted black;
  background-color: black;
  opacity: 50%;
}