<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- using squiddies to inject html from the webpack.config.js file  -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style> 
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
      }
      canvas { 
        /* width: 100%;
        height:100%; */
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;

      }
    </style>
  </head>

  <body>
    <canvas></canvas>
  </body>
</html>